.main_second-wrapper {
  background-color: #f4f8fa;
  width: 100%;
}

.site-nav-breadcrumb {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;

  &_list {
    display: flex;
  }
  &_item {
    margin-right: 15px;
    font-size: 14px;
    position: relative;

    &:not(:last-child)::before {
      position: absolute;
      width: 5px;
      height: 5px;
      content: "||";
      top:0;
      left: 57px;
      color: #666;
    }
    &:not(:first-child)::before {
      left: 44px;
    }

    & a {
      color: #666;
      &:hover {
        color: #00a1de;
      }
    }

  }
}

