.main_second-page {
  width: 100%;
  background: linear-gradient(to bottom, #bbffe4, #efffa7);

  &_wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
  }
  &_left {
    background-color: white;
    width: 200px;
    padding-bottom: 40px;
    overflow: hidden;

    &_list {
      padding-top: 200px;
      margin-left: 35px;
    }
    &_item {
      margin-bottom: -7px;
    }
    &_link {
      width: 100%;
      background-color: bisque;
      display: block;
      overflow: hidden;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
      border: 1px solid;
      border-radius: 40px 0 0 40px;
    }
  }

  &_right {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    //box-shadow: -4px 0px 4px -2px #999;
    background-color: #c8ffd5;
    &_header {
      padding-left: 40px;
      margin: 0;
      margin-top: 20px;
      font-weight: normal;
      font-size: 30px;
      color: #00a1de;
    }

    &_description {
      padding-left: 40px;
      font-size: 16px;
      font-weight: normal;
      color: #666666;
    }

    &_block {
      margin-right: 80px;
      &:nth-child(3n) {
        margin-right: 0;
      }
      &_list {
        & > li {
          color: #666;
          font-weight: 500;
        }

        &_link {
          color: #66668c;
          font-size: 14px;
          font-weight: normal;
          &:hover {
            color: #00a1de;
          }
        }
      }

      &_header {
        padding-left: 40px;
        font-weight: normal;
        color: #8d33aa;
      }
    }
  }
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
}

