@import "breadcrumb";
@import "main-second-page";

body {
  margin: 0 auto;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: medium;
  min-width: 1740px;
  background: linear-gradient(to bottom, #bbffe4, #efffa7);

}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.btn-null {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.header {
  width: 100%;

  &-top {
    height: 39px;
    width: 100%;
    padding-top: .5%;
    padding-bottom: .5%;
    display: flex;
    justify-content: center;
    background-color: white;

    &_nav {
      display: flex;
      position: relative;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      align-items: center;

      &-logo_wrapper {
        width: 165px;
        margin-right: 10px;
        padding-left: 60px;
      }
    }

    &_logo {
      position: absolute;
      top: 0;
      left: 75px;
    }

    &_search {
      margin-left: 20px;
      position: relative;
      padding-left: 20px;
      &-label {
        //background-image: url("../image/search.svg");
        position: absolute;
        top: 6px;
        left: 220px;
        width: 17px;
        height: 17px;
        cursor: pointer;
        outline: none;
        z-index: 2;

        &:hover {
          .search_icon {
            fill:#2a2a2a ;
          }
        }
      }

      &-input {
        border: none;
        border-bottom: 1px solid #ddd;
        padding: 6px 25px 6px 6px;
      }

      &-input::placeholder {
        color: rgba(41, 41, 41, 0.4);
      }
    }
    &_registration {
      margin-left: auto;
      display: flex;
    }
  }

  &-bottom {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    background-color: #52b700;

    &_nav {
     display: flex;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      justify-content: space-between;
    }

    &_list {
      display: flex;
      min-width: 300px;
      justify-content: space-around;
    }

    &_item:not(:last-child) {
      margin-right: 20px;
    }
    
    &_link {
      color: #fff;
      font-size: 26px;
      font-weight: normal;
      &:hover {
        color: #4fd7c0;
      }
    }
    }
  .-member {
    display: block;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #4fd7c0;
    border-radius: 30px;
    box-shadow: 2px 3px 4px 0 grey;
    color:#ffffff;
    &:hover {
      background-color: #59e1ca;
      color: #fff;
      box-shadow: inset 2px 3px 4px 0 grey;

    }
  }
  }

.registration-form {
  &_button {
    display: inline-block !important;
    margin-left: 15px;
    line-height: 20px;
    &:hover {
      color: #000000 !important;
    }
    &-reg {
      margin-left: 25px;
    }
  }

  &_input {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: none;
    color: #3f3f3f;
    margin: 0 10px 0 0;
    padding: 5px 9px;
    vertical-align: top;
    width: 140px;
    &::placeholder {
      color: rgba(41, 41, 41, 0.4);
    }
  }
}


.featured {
  height: 398px;
  min-width: 1200px;
  margin: 0;
  margin-bottom: 20px;
  background-image: url("../image/featured-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  &_header {
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    &-link {
      color: #00a1de; ;
      text-decoration: none;
    }
  }
  &_list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 50%;
  }
  &_item {
      width: 30%;
      display: flex;
      flex-direction: column;
      padding-top: 35px;
      margin-right: -8px;
    &:first-child {
      padding-top: 20px;
      margin-right: 0;
    }

    &:last-child {
      padding-top: 22px;
      margin-right: 21px;
    }
    &-header {
      font-weight: normal;
      font-size: 22px;
      text-align: center;
      margin-bottom: 5px;
      &-first{
        color: #00a1de;
      }
      &-second {
        color: #8d33aa;
      }
      &-third {
        color: #0bc1b6;
      }
    }
    &-description{
      text-align: center;
      font-size: 16px;
      color: #666;
      margin: 0;
      &_first {
        &-bull{
          color: #00a1de; ;
        }
        & a {
          color:#666;
          margin-bottom: 5px;
          display: inline-block;
          &:hover {
            color:#00a1de
          }
        }
      }
      &_second {
        & a {
          color:#666;
          &:hover {
            color: #8d33aa;
          }
        }
      }

      &_third {
        &-list {
          display: flex;
          flex-wrap: wrap;
        }
        &-item {
          display: inline-block;
          margin-right: 15px;
          &:first-child {
            padding-left: 19px;
          }
          &:last-child {
            margin-right: auto;
            margin-left: auto;
          }

          & a {
            color: #666;
            &:hover {
              color: #0bc1b6;
            }
          }
        }
        &-bull{
          color: #0bc1b6; ;
        }
      }
      &-link {
        display: inline-block;
        margin-top: 12px;
        width: 22px;
        height: 13px;
        padding: 5px;
        align-self: center;
        background-image: url("../image/1.png");
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.5;
        &-third {
          padding: 3px;
          margin-top: 5px;
          background-image: url("../image/2.png");
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.main {
  background: linear-gradient(to bottom, #bbffe4, #efffa7);
  &_block {
    max-width: 1200px;
    margin: 0 auto;
  }

  &-list {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
  }
  &-item {
    display: flex;
    max-width: 308px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    &:nth-child(3n){
     margin-right: 0;
    }
  }
}

.class {
  position: relative;
  border-radius: 10px;
  padding: 10px;
  color: #666;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  &_1 {
    border: 1px solid #10a0b6;
  }
  &_2 {
    border: 1px solid #f39317;
  }
  &_3 {
    border: 1px solid #42ae18;
  }
  &_4 {
    border: 1px solid #d74726;
  }
  &_5 {
    border: 1px solid #8d33aa;
  }
  &_6 {
    border: 1px solid #eabc00;
  }
  &_7 {
    border: 1px solid #0bc1b6;
  }
  &_8 {
    border: 1px solid #e9681b;
  }
  &_9 {
    border: 1px solid #0b863c;
  }
  &_10 {
    border: 1px solid #00a1de;
  }
  &_11 {
    border: 1px solid #00b971;
  }
  &_12 {
    border: 1px solid #fe6543;
  }
  &-link {
    position: absolute;
    top: 7px;
    left: -5px;
    height: 28px;
    width: 40px;
    display: block;
    border-radius: 0 19px 19px 0;
    box-sizing: border-box;
    color: #fff;
    text-align: right;
    padding-right: 11px;
    padding-top: 6px;
    &_1 {
      background-color: #10a0b6;
    }
    &_2 {
      background-color: #f39317;
    }
    &_3 {
      background-color: #42ae18;
    }
    &_4 {
      background-color: #d74726;
    }
    &_5 {
      background-color: #8d33aa;
    }
    &_6 {
      background-color: #eabc00;
    }
    &_7 {
      background-color: #0bc1b6;
    }
    &_8 {
      background-color: #e9681b;
    }
    &_9 {
      background-color: #0b863c;
    }
    &_10 {
      background-color: #00a1de;
    }
    &_11 {
      background-color: #00b971;
    }
    &_12 {
      background-color: #fe6543;
    }
  }
  &-header {
    margin: 0;
    padding-left: 40px;
    padding-top: 5px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    &_link1 {
      color: #10a0b6;
    }
    &_link2 {
      color: #f39317;
    }
    &_link3 {
      color: #42ae18;
    }
    &_link4 {
      color: #d74726;
    }
    &_link5 {
      color: #8d33aa;
    }
    &_link6 {
      color: #eabc00;
    }
    &_link7 {
      color: #0bc1b6;
    }
    &_link8 {
      color: #e9681b;
    }
    &_link9 {
      color: #0b863c;
    }
    &_link10 {
      color: #00a1de;
    }
    &_link11 {
      color: #00b971;
    }
    &_link12 {
      color: #fe6543;
    }
  }
  &-description {
    margin: 0;
    margin-bottom: 15px;
    min-height: 70px;

    &_more {
      font-style: italic;
    }
  }
  &-footer {
    border-top: 1px solid #e1e1e1;
    margin-bottom: 0;
    padding-top: 10px;
  }
}

.link {
  &-list {

  }
  &-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  &-description {
    font-style: italic;
  }
  &-link_text {
    &::after {
      content: ">>";
      display: inline-block;
      font-size: 75%;
      padding-left: 3px;
    }
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.footer {
  height: 50px;
  background-color: #efefef;;
}



