.main_second-wrapper {
  background-color: #f4f8fa;
  width: 100%;
}

.site-nav-breadcrumb {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}
.site-nav-breadcrumb_list {
  display: flex;
}
.site-nav-breadcrumb_item {
  margin-right: 15px;
  font-size: 14px;
  position: relative;
}
.site-nav-breadcrumb_item:not(:last-child)::before {
  position: absolute;
  width: 5px;
  height: 5px;
  content: "||";
  top: 0;
  left: 57px;
  color: #666;
}
.site-nav-breadcrumb_item:not(:first-child)::before {
  left: 44px;
}
.site-nav-breadcrumb_item a {
  color: #666;
}
.site-nav-breadcrumb_item a:hover {
  color: #00a1de;
}

.main_second-page {
  width: 100%;
  background: linear-gradient(to bottom, #bbffe4, #efffa7);
}
.main_second-page_wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}
.main_second-page_left {
  background-color: white;
  width: 200px;
  padding-bottom: 40px;
  overflow: hidden;
}
.main_second-page_left_list {
  padding-top: 200px;
  margin-left: 35px;
}
.main_second-page_left_item {
  margin-bottom: -7px;
}
.main_second-page_left_link {
  width: 100%;
  background-color: bisque;
  display: block;
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 1px solid;
  border-radius: 40px 0 0 40px;
}
.main_second-page_right {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  background-color: #c8ffd5;
}
.main_second-page_right_header {
  padding-left: 40px;
  margin: 0;
  margin-top: 20px;
  font-weight: normal;
  font-size: 30px;
  color: #00a1de;
}
.main_second-page_right_description {
  padding-left: 40px;
  font-size: 16px;
  font-weight: normal;
  color: #666666;
}
.main_second-page_right_block {
  margin-right: 80px;
}
.main_second-page_right_block:nth-child(3n) {
  margin-right: 0;
}
.main_second-page_right_block_list > li {
  color: #666;
  font-weight: 500;
}
.main_second-page_right_block_list_link {
  color: #66668c;
  font-size: 14px;
  font-weight: normal;
}
.main_second-page_right_block_list_link:hover {
  color: #00a1de;
}
.main_second-page_right_block_header {
  padding-left: 40px;
  font-weight: normal;
  color: #8d33aa;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 40px;
}

body {
  margin: 0 auto;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: medium;
  min-width: 1740px;
  background: linear-gradient(to bottom, #bbffe4, #efffa7);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.btn-null {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.header {
  width: 100%;
}
.header-top {
  height: 39px;
  width: 100%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  display: flex;
  justify-content: center;
  background-color: white;
}
.header-top_nav {
  display: flex;
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.header-top_nav-logo_wrapper {
  width: 165px;
  margin-right: 10px;
  padding-left: 60px;
}
.header-top_logo {
  position: absolute;
  top: 0;
  left: 75px;
}
.header-top_search {
  margin-left: 20px;
  position: relative;
  padding-left: 20px;
}
.header-top_search-label {
  position: absolute;
  top: 6px;
  left: 220px;
  width: 17px;
  height: 17px;
  cursor: pointer;
  outline: none;
  z-index: 2;
}
.header-top_search-label:hover .search_icon {
  fill: #2a2a2a;
}
.header-top_search-input {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 6px 25px 6px 6px;
}
.header-top_search-input::placeholder {
  color: rgba(41, 41, 41, 0.4);
}
.header-top_registration {
  margin-left: auto;
  display: flex;
}
.header-bottom {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  background-color: #52b700;
}
.header-bottom_nav {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: space-between;
}
.header-bottom_list {
  display: flex;
  min-width: 300px;
  justify-content: space-around;
}
.header-bottom_item:not(:last-child) {
  margin-right: 20px;
}
.header-bottom_link {
  color: #fff;
  font-size: 26px;
  font-weight: normal;
}
.header-bottom_link:hover {
  color: #4fd7c0;
}
.header .-member {
  display: block;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #4fd7c0;
  border-radius: 30px;
  box-shadow: 2px 3px 4px 0 grey;
  color: #ffffff;
}
.header .-member:hover {
  background-color: #59e1ca;
  color: #fff;
  box-shadow: inset 2px 3px 4px 0 grey;
}

.registration-form_button {
  display: inline-block !important;
  margin-left: 15px;
  line-height: 20px;
}
.registration-form_button:hover {
  color: #000000 !important;
}
.registration-form_button-reg {
  margin-left: 25px;
}
.registration-form_input {
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: none;
  color: #3f3f3f;
  margin: 0 10px 0 0;
  padding: 5px 9px;
  vertical-align: top;
  width: 140px;
}
.registration-form_input::placeholder {
  color: rgba(41, 41, 41, 0.4);
}

.featured {
  height: 398px;
  min-width: 1200px;
  margin: 0;
  margin-bottom: 20px;
  background-image: url("../image/featured-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.featured_header {
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0;
  text-align: center;
  font-weight: normal;
  font-size: 30px;
}
.featured_header-link {
  color: #00a1de;
  text-decoration: none;
}
.featured_list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 50%;
}
.featured_item {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  margin-right: -8px;
}
.featured_item:first-child {
  padding-top: 20px;
  margin-right: 0;
}
.featured_item:last-child {
  padding-top: 22px;
  margin-right: 21px;
}
.featured_item-header {
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  margin-bottom: 5px;
}
.featured_item-header-first {
  color: #00a1de;
}
.featured_item-header-second {
  color: #8d33aa;
}
.featured_item-header-third {
  color: #0bc1b6;
}
.featured_item-description {
  text-align: center;
  font-size: 16px;
  color: #666;
  margin: 0;
}
.featured_item-description_first-bull {
  color: #00a1de;
}
.featured_item-description_first a {
  color: #666;
  margin-bottom: 5px;
  display: inline-block;
}
.featured_item-description_first a:hover {
  color: #00a1de;
}
.featured_item-description_second a {
  color: #666;
}
.featured_item-description_second a:hover {
  color: #8d33aa;
}
.featured_item-description_third-list {
  display: flex;
  flex-wrap: wrap;
}
.featured_item-description_third-item {
  display: inline-block;
  margin-right: 15px;
}
.featured_item-description_third-item:first-child {
  padding-left: 19px;
}
.featured_item-description_third-item:last-child {
  margin-right: auto;
  margin-left: auto;
}
.featured_item-description_third-item a {
  color: #666;
}
.featured_item-description_third-item a:hover {
  color: #0bc1b6;
}
.featured_item-description_third-bull {
  color: #0bc1b6;
}
.featured_item-description-link {
  display: inline-block;
  margin-top: 12px;
  width: 22px;
  height: 13px;
  padding: 5px;
  align-self: center;
  background-image: url("../image/1.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
}
.featured_item-description-link-third {
  padding: 3px;
  margin-top: 5px;
  background-image: url("../image/2.png");
}
.featured_item-description-link:hover {
  opacity: 1;
}

.main {
  background: linear-gradient(to bottom, #bbffe4, #efffa7);
}
.main_block {
  max-width: 1200px;
  margin: 0 auto;
}
.main-list {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-wrap: wrap;
}
.main-item {
  display: flex;
  max-width: 308px;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}
.main-item:nth-child(3n) {
  margin-right: 0;
}

.class {
  position: relative;
  border-radius: 10px;
  padding: 10px;
  color: #666;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}
.class_1 {
  border: 1px solid #10a0b6;
}
.class_2 {
  border: 1px solid #f39317;
}
.class_3 {
  border: 1px solid #42ae18;
}
.class_4 {
  border: 1px solid #d74726;
}
.class_5 {
  border: 1px solid #8d33aa;
}
.class_6 {
  border: 1px solid #eabc00;
}
.class_7 {
  border: 1px solid #0bc1b6;
}
.class_8 {
  border: 1px solid #e9681b;
}
.class_9 {
  border: 1px solid #0b863c;
}
.class_10 {
  border: 1px solid #00a1de;
}
.class_11 {
  border: 1px solid #00b971;
}
.class_12 {
  border: 1px solid #fe6543;
}
.class-link {
  position: absolute;
  top: 7px;
  left: -5px;
  height: 28px;
  width: 40px;
  display: block;
  border-radius: 0 19px 19px 0;
  box-sizing: border-box;
  color: #fff;
  text-align: right;
  padding-right: 11px;
  padding-top: 6px;
}
.class-link_1 {
  background-color: #10a0b6;
}
.class-link_2 {
  background-color: #f39317;
}
.class-link_3 {
  background-color: #42ae18;
}
.class-link_4 {
  background-color: #d74726;
}
.class-link_5 {
  background-color: #8d33aa;
}
.class-link_6 {
  background-color: #eabc00;
}
.class-link_7 {
  background-color: #0bc1b6;
}
.class-link_8 {
  background-color: #e9681b;
}
.class-link_9 {
  background-color: #0b863c;
}
.class-link_10 {
  background-color: #00a1de;
}
.class-link_11 {
  background-color: #00b971;
}
.class-link_12 {
  background-color: #fe6543;
}
.class-header {
  margin: 0;
  padding-left: 40px;
  padding-top: 5px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
}
.class-header_link1 {
  color: #10a0b6;
}
.class-header_link2 {
  color: #f39317;
}
.class-header_link3 {
  color: #42ae18;
}
.class-header_link4 {
  color: #d74726;
}
.class-header_link5 {
  color: #8d33aa;
}
.class-header_link6 {
  color: #eabc00;
}
.class-header_link7 {
  color: #0bc1b6;
}
.class-header_link8 {
  color: #e9681b;
}
.class-header_link9 {
  color: #0b863c;
}
.class-header_link10 {
  color: #00a1de;
}
.class-header_link11 {
  color: #00b971;
}
.class-header_link12 {
  color: #fe6543;
}
.class-description {
  margin: 0;
  margin-bottom: 15px;
  min-height: 70px;
}
.class-description_more {
  font-style: italic;
}
.class-footer {
  border-top: 1px solid #e1e1e1;
  margin-bottom: 0;
  padding-top: 10px;
}

.link-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.link-description {
  font-style: italic;
}
.link-link_text::after {
  content: ">>";
  display: inline-block;
  font-size: 75%;
  padding-left: 3px;
}
.link-link_text:hover, .link-link_text:focus {
  text-decoration: underline;
}

.footer {
  height: 50px;
  background-color: #efefef;
}

/*# sourceMappingURL=style.css.map */
